.root {
    background: #aaa;
    padding: 10px 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.value, .confidence {
    padding: 0;
    margin: 0;
}

.value {
    font-size: 2em;
}